.clear
%div{:style => "background-color: #76c42e;height: 15px; border-radius: 10px 10px 0px 0px;"}
%div{:style => "background-color: #f4f4f4;padding: 0px 10px; font-size: 85%;"}
  %br
  %center{style: "color: #666666; text-align: center;"}
    =link_to 'Comunidad Feliz', 'https://www.comunidadfeliz.cl', {style: "color: #66b11b; text-decoration: none;"}
    es un software para la administración de edificios y condominios. Si tienes dudas o te interesa saber más de nuestro software puedes escribirnos a 
    =mail_to 'contacto@comunidadfeliz.cl', 'contacto@comunidadfeliz.cl.', {style: "color: #66b11b; text-decoration: none;"}
  %br
  %center{style: "color: #666666; text-align: center;"}
    Entérate de nuestro programa de recomendación en
    =link_to 'este link', 'https://www.comunidadfeliz.cl/recomienda', {style: "color: #66b11b; text-decoration: none;"}
    , y visita 
    =link_to 'nuestro blog', 'https://blog.comunidadfeliz.cl/', {style: "color: #66b11b; text-decoration: none;"}
    para las últimas actualizaciones.
  %br
  %center{style: "color: #666666; text-align: center;"}
    Que tengas un lindo día, te queremos.
    El equipo de ComunidadFeliz.
  %br
%div{:style => "background-color: #76c42e;height: 20px; margin-bottom: 10px; font-size: 85%; border-radius: 0px 0px 10px 10px; font-weight: lighter;"}
  %div{style: "color: white; margin-right: 10px; margin-top: 2px; float: right; font-style: italic;"}
    generado por
    =link_to 'https://www.comunidadfeliz.cl', {style: "color: #66b11b; text-decoration: none;"} do
      =image_tag( attachments['brandlogo.png'].url, style: "margin-top: -3px; margin-left: 2px;")