%h1 
  = t('mailer.activation')
%p
  = t('mailer.hi_USER', user: @user.name) + ','
%p
  = t('mailer.welcome_phrase')
= link_to t('mailer.activate'), edit_account_activation_url(@user.activation_token, |
  email: @user.email)                                                     |
