<% if are_we_both_friends?(current_user, @user) %>
  <ul>
    <% if @private_bets != [] %>
      <% for bet in @private_bets %>
        <li>
          <%= link_to "#{bet.name}", bet_path(bet) %>
        </li>
      <% end %>
    <% else %>
      <p><%= t('subtitle.user_has_no_private_bets') %></p>
    <% end %>
  </ul>
<% else %>
  <p><%= t('subtitle.u_dont_have_access_to_private') %></p>
<% end %>
