=#%img{:src => "https://s-media-cache-ak0.pinimg.com/originals/47/da/40/47da407edf50c6b0b930a1419f66f6e5.jpg", :style => "width: 100%;"}/
=#TODO: mover style, modificar segun @media
.header{style:"background:url(\"/Combinaciones.jpg\") no-repeat fixed center; height: 50%; background-size: 100% 100%"}
.body{style:"height: 50%"}
