=#%img{:src => "https://s-media-cache-ak0.pinimg.com/originals/47/da/40/47da407edf50c6b0b930a1419f66f6e5.jpg", :style => "width: 100%;"}/
=#TODO: mover style, modificar segun @media
.header{style:"background:url(\"/Combinaciones.jpg\") no-repeat fixed center; height: 50%; background-size: 100% 100%"}
.body{style:"height: 50%"}
  %p#notice= notice
  %h1 Home of #{user_name}
  =#%table
  =#  %thead
  =#    %tr
  =#      %th Execution date
  =#      %th Description
  =#      %th{:colspan => "3"}
  =#  %tbody
  .card_container{style: "padding-left:10%; padding-right:10%;"}

    .card
      %img{:alt => "Avatar", :src => "http://cdn.images.s3.amazonaws.com/pokergratis.es/images/images/2010/10/fichas_apuestas.jpg", :style => "width:100%"}/
      .container
        %h4
          %b Jane Doe
        %p Interior Designer
    .card
      %img{:alt => "Avatar", :src => "http://cdn.images.s3.amazonaws.com/pokergratis.es/images/images/2010/10/fichas_apuestas.jpg", :style => "width:100%"}/
      .container
        %h4
          %b Jane Doe
        %p Interior Designer

    .card
      %img{:alt => "Avatar", :src => "http://cdn.images.s3.amazonaws.com/pokergratis.es/images/images/2010/10/fichas_apuestas.jpg", :style => "width:100%"}/
      .container
        %h4
          %b Jane Doe
        %p Interior Designer
    .card
      %img{:alt => "Avatar", :src => "http://cdn.images.s3.amazonaws.com/pokergratis.es/images/images/2010/10/fichas_apuestas.jpg", :style => "width:100%"}/
      .container
        %h4
          %b Jane Doe
        %p Interior Designer
    .card
      %img{:alt => "Avatar", :src => "http://cdn.images.s3.amazonaws.com/pokergratis.es/images/images/2010/10/fichas_apuestas.jpg", :style => "width:100%"}/
      .container
        %h4
          %b Jane Doe
        %p Interior Designer
    .card
      %img{:alt => "Avatar", :src => "http://cdn.images.s3.amazonaws.com/pokergratis.es/images/images/2010/10/fichas_apuestas.jpg", :style => "width:100%"}/
      .container
        %h4
          %b Jane Doe
        %p Interior Designer

    .card
      %img{:alt => "Avatar", :src => "http://cdn.images.s3.amazonaws.com/pokergratis.es/images/images/2010/10/fichas_apuestas.jpg", :style => "width:100%"}/
      .container
        %h4
          %b Jane Doe
        %p Interior Designer
    .card
      %img{:alt => "Avatar", :src => "http://cdn.images.s3.amazonaws.com/pokergratis.es/images/images/2010/10/fichas_apuestas.jpg", :style => "width:100%"}/
      .container
        %h4
          %b Jane Doe
        %p Interior Designer
