<ul id="footer">

  <li id="authors_notice">
    <%= link_to "The bet-ter App!", home_path %> by <a href="https://github.com/IIC2513-2017-1/grupo-18">Grupo 18</a> (Félix Fischer and Felipe Rojos)</li>

  <li id="footer_nav">
    <%= link_to "About",   '#' %>
    <span> </span>
    <%= link_to "Contact", '#' %>
  </li>
  <!-- <li><%= link_to "News", '#' %></li> -->
</ul>
