<ul id="footer">

  <li id="authors_notice">
    <%= link_to "The bet-ter App!", home_path %> by <a href="https://github.com/IIC2513-2017-1/grupo-18">Grupo 18</a> (Félix Fischer and Felipe Rojos)</li>

  <li id="footer_nav">

    <button class="button_dressed_like_link" id="aboutLink", type="button">About</button>
    <span> </span>
    <%= mail_to "sppt.grupo.18.web@gmail.com",
    	"Contact"  %>
  </li>
</ul>

<div id="aboutModal" class="modal">
	<div class="modal-content">
		<span class="close">&times;</span>
		<h1><a id="About_Better_App_0"></a>About Bet~ter App!</h1>
		<h2><a id="Us_2"></a>Us</h2>
		<p>Hi! We’re Félix Fischer and Felipe Rojos, otherwise known as <strong>Grupo 18</strong>.</p>
		<h2><a id="Our_vision_6"></a>Our vision</h2>
		<p>We believe in a clean and secure web, with honest services and centered in the user experience. We do not use tracking software, and from day 0 we’ve always been honest about the prizes’ percentage we take out of every bet to pay our bills.</p>
		<h2><a id="Technologies_we_use_10"></a>Technologies we use</h2>
		<p>We built our site on top of <strong><em>Ruby on Rails</em></strong>, <strong><em>HTML5</em></strong>, <strong><em>CSS3</em></strong> and <strong><em>JavaScript (ECMA v6)</em></strong>. There is full detail on this under the Appendix at the end.</p>
		<h2><a id="Ending_thoughts_14"></a>Ending thoughts</h2>
		<p>We hope you enjoy our service. Have a good one, and may the Lady of Fortune pick your odds.</p>
		<br>
		<hr>
		<br>
		<h2><a id="Appendix_tools_we_used_20"></a>Appendix: tools we used</h2>
		<h3><a id="Important_Libraries_and_Gems_22"></a>Important Libraries and Gems</h3>
		<p>We use the <code>bcrypt</code> library for password security and <code>SASS</code> for augmenting CSS’ usability.</p>
		<p>We use the gem <code>CarrierWave</code> for photo uploading and <code>minimagick</code> for resizing. We use <code>Ckeditor</code> for rich text input, <code>delayed_job</code> for scheduling of delayed tasks and <code>httparty</code> for our interaction with REST APIs.</p>
		<h3><a id="Designer_Resources_28"></a>Designer Resources</h3>
		<p>We used Paletton to help us pick the color scheme of the site. <a href="http://paletton.com/palette.php?uid=75x0u0kleqtbzEKgVuIpcmGtdhZ">Here</a> is our palette.</p>
		<p>We also use the following Google Fonts:</p>
		<ul>
		<li><a href="https://fonts.google.com/specimen/Merienda">Merienda</a> for the banner and <a href="https://fonts.google.com/specimen/Clicker+Script/">Clicker Script</a> for the gambling quotes,  because of their inspiring beauty.</li>
		<li><a href="https://fonts.google.com/specimen/Poly">Poly</a> for interactive UI elements, because of its good readability and elegant serif styling.</li>
		<li><a href="https://fonts.google.com/specimen/Vollkorn">Vollkorn</a> for all the headings, and <a href="https://fonts.google.com/specimen/Lato">Lato</a> for the rest of the content. We picked these because of their warmth, and because Lato complements Vollkorn’s strength with its soft style.</li>
		</ul>
		<h3><a id="Web_APIs_used_by_this_site_37"></a>Web APIs used by this site</h3>
		<p>We are currently using two REST APIs:</p>
		<ul>
		<li>We consume the <a href="https://en.gravatar.com/site/implement/">Gravatar API</a> to enhance our user’s customization experience, and</li>
		<li>The <a href="http://mindicador.cl/">Mindicador API</a> to display real-time currency information to our international users.</li>
		</ul>
		<br>
	</div>
</div>

<script type="text/javascript">
	var modal = document.getElementById("aboutModal");

	var btn = document.getElementById("aboutLink");

	var modCnt = document.getElementsByClassName("modal-content")[0];

	btn.onclick = function() {
		modal.style.display = "block";
	}

	var clsBtn = document.getElementsByClassName("close")[0];

	clsBtn.onclick = function() {
		resetModal();
	}

	window.onclick = function(event) {
		if(event.target == modal)
		{
			resetModal();
		}
	}

	function resetModal() {
		modCnt.scrollTop = 0;
		modal.style.display = "none";
	}

</script>
